body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

h1 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #007bff;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.App h1 {
  text-align: center;
}

.App button {
  display: block;
  margin: 10px auto;
}

.Reporte {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.Reporte h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #555;
}

.Reporte p {
  margin-bottom: 10px;
  line-height: 1.5;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #007bff; 
  text-align: center;
}

ul {
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
  background-color: #f9f9f9; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd; 
}

li:last-child {
  border-bottom: none; 
}